/* 
main background-color: #FFFFFF;
second background-color: #F5F4FA;
footer background-color: #2F303A
letters in head #000000
blue letters #2196F3
grey letters #757575
dark letters in al h's  #212121
*/

:root {
    --main-background: #FFFFFF;
    --secondary-background: #F5F4FA;
    --accent-background: #2F303A;
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --main-letters: #000000;
    --mirror-letters: #ffffff;
}

/*=======Universal=======*/

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--main-background);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);  
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

section {
    padding: 94px 0;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
    border: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=======Header=======*/

.head .section {
    box-sizing: border-box;

    padding-top: 0;
    padding-bottom: 0;
    
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid #ECECEC;
    border-width: 1px;

}

.head-title {
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 93px;
    width: 145px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-letters) 
}

.part-title {
    color: var(--accent-color);
}

.head-links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outside {
    justify-content: space-between;
    align-items: center;
}

.head-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation {
    width: 294px;
    margin-right: 331px;
}

.navigation .head-links:not(:last-child) {
    margin-right: 50px;
}

.outside .head-links:not(:last-child) {
    margin-right: 50px;
}

.head-link {
    color: var(--title-color);
}

.head .contact-link {
   color: var(--text-color); 
}

.head-link:hover,
.head-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/*=======Footer=======*/
footer {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--mirror-letters);
}

.bottom .section {
    box-sizing: border-box;

    padding: 60px 15px;

    background-color: var(--accent-background);   
}

.bottom-title {
    margin-bottom: 20px;

    color: var(--mirror-letters);
}

.bottom-list {
    padding: 0;
    margin: 0;

   min-height: 81px;
}

footer address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

}

.bottom-element {
    margin-bottom: 9px;
    min-height: 21px;
}

.bottom-contact {
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.bottom-contact:hover,
.bottom-contact:focus {
    color: var(--accent-color);
}

/*=======Hero=======*/
.hero {
    padding: 200px 0;

    text-align: center;
    background-color: var(--accent-background);
    color: var(--mirror-letters);
    
}

.hero .container {
    box-sizing: border-box;
}

.hero-title {
    width: 696px;
    min-height: 120px;
    margin-bottom: 30px;
    margin-top: 0;
    margin-right: 237px;
    margin-left: 237px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--mirror-letters);
}

.hero-button {
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    
    background-color: var(--accent-color);
    border: transparent;
    color: var(--mirror-letters);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-radius: 5px;
}

/*=======Srengths=======*/

.strengths {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.strengths-list {
    display: flex;
    padding-left: 0;
}

.strengths-element {
    width: 270px;
    height: 101px;
}

.strengths-element:not(:last-child) {
    margin-right: 30px;
}
.strengths-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.strengths-text {
    font-size: 14px;
    line-height: 1.71;
    min-height: 75px;
    margin: 0;
}

/*=======Специализация=======*/

.speciality {
    padding-top: 0;
    
}

.speciality .container {
    box-sizing: border-box;
}

.speciality-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}
.speciality-list {
    display: flex;
    justify-content: space-between;
}

.speciality-element:not(:last-child) {
    margin-right: 30px;
}

/*=======Коллектив=======*/

.we {
    background-color: var(--secondary-background);
}

.we .container {
    box-sizing: border-box;
}

.we-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.we-element {
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

    width: 270px;
    min-height: 368px;
    margin-right: 30px;
    background-color: var(--main-background);
}

.we-element:nth-child(4n+4) {
    margin-right: 0;
}

.we-element img {
    margin-bottom: 30px;
}

.we-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.we-name {
    margin-bottom: 10px;

    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.we-job {
    margin-top: 0;
    margin-bottom: 30px;

    text-align: center;

    font-size: 16px;
    line-height: 1.19;
}

/*======= Портфолио =======*/

/*=======Menu=======*/

.menu .container {
    box-sizing: border-box;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    margin-bottom: 50px;
    margin-top: 0;
}

.menu-element:not(:last-child) {
    margin-right: 8px;
}

.menu-button {
    min-width: 73px;
    min-height: 38px;

    padding: 6px 22px;

    background-color: var(--secondary-background);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    border-radius: 4px;
}

.menu-button:hover,
.menu-button:focus {
    background-color: var(--accent-color);
    color: var(--mirror-letters);
}

/*=======Samples=======*/

.works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    box-sizing: border-box;

    padding: 0;
}

.works-element {
    margin-right: 30px;
    margin-bottom: 30px;

    width: 370px;
    height: 404px;
}

.works-element:nth-child(3n+3) {
    margin-right: 0;
}

.works-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.works-element-box {
    border: solid;
    border-right-width: 1px;
    border-right-color: rgba(238, 238, 238, 1);
    border-bottom-width: 1px;
    border-bottom-color: rgba(238, 238, 238, 1);
    border-left-width: 1px;
    border-left-color: rgba(238, 238, 238, 1);
    border-top: transparent;
}

.works-title {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works-text {
    margin-right: 24px;
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}